.home_screen{
    background-color: #111111;
    height: 100vh;
    width: 100%;
    .header_section{
        height: 150px;
    }
    .body_section{
        height: calc(100% - 150px);
        background-color: red;
        border-top-left-radius: 25px;
        padding: 15px;
        border-top-right-radius: 25px;
    }
}