.filter_component{
    height: 100%;
    width: 100%;
    .filter_section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 20px;
        .location_container{
            width: max-content;
            .location_title{
                color: #9b9292;
                font-size: 15px;
            }
            .location{
                color: #e0e0e1;
                font-size: 15px;
            }    
    }
    .search_container{
        margin-top: 15px;
        position: relative;
        .search_icons{
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: #b7b7b7;
            width: max-content;
            display: flex;
            align-items: center;
            .icon{
                transform: translateY(-1px);
            }
        }
        .cross_icons{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            color: #b7b7b7;
            width: max-content;
            display: flex;
            align-items: center;
            .icon{
                transform: translateY(-1px);
            }
        }
        .search_input{
            width: 100%;
            border: none;
            outline: none;
            box-shadow: none;
            background-color: #2f2f2f;
            font-size: 16px;
            height: 33px;
            color: #b7b7b7;
            padding: 5px 10px 5px 35px;
            border-radius: 7px;
        }
    }
    }
    
}