.home_banner{
    width:100% ;
    height: 150px;
    background-image: url('./public/assets/homeScreen/banner/home-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    position: relative;
    .bg_layout{
        height: 100%;
        width: 100%;
        background: linear-gradient(to right,black,rgba(0, 0, 0, 0.09));
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        
    }
    .banner_content{
            color: aliceblue;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: nowrap;
            .left_content{
                width: 70%;
                padding: 15px 10px;
                .title{
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                    margin-bottom: 10px;
                }
                .text{
                    font-size: 16px;
                    color: #909096;
                }
            }
            .right_content{
                width: 30%;
                height: 100%;
                display: flex;
                justify-content: end;
                align-items: end;
                color: #fff;
                
                padding: 15px 10px;
                .cart_button{
                    width: max-content;
                    padding: 5px 7px;
                    background-color: #cd5721;
                    font-weight: 500;
                    font-size: 13px;
                    border-radius: 10px;
                }
            }
        }
    
}